img {
  border-radius: 10px;
}
.container {
  display: grid;
  grid-template-rows: auto auto auto;
  padding: 0px;
}
header, footer {
  text-align: center;
  padding: 10px;
  background-color: skyblue;
  border: 2px solid navy;
}
