img {
  border-radius: 10px;
}
.container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}
.container div {
  text-align: center;
  border-colour: green;
  padding: 10px;
  border: 1px solid black;
}

