@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
.science-gothic {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}

.container {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  padding: 0px;
}

.container header, footer {
  border: 2px solid navy;
  border-radius: 7px;
  text-align: center;
  padding: 10px;
  background-color: skyblue;
  font-family: "Science Gothic", sans-serif, serif;
}
.container .mid input {
  width: auto;
  margin: 5px 25px 5px 25px;
  height: 35px;
  text-align: center;
}
