@import url('https://fonts.googleapis.com/css2?family=Science+Gothic:wght@100..900&display=swap');
.science-gothic {
  font-family: "Science Gothic", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "CTRS" 0;
}

img {
  border-radius: 10px;
}
.container {
  display: grid;
  grid-template-rows: auto auto auto;
  padding: 0px;
}

header, footer {
  text-align: center;
  padding: 10px;
  background-color: skyblue;
  border: 2px solid navy;
  font-family: "Science Gothic", sans-serif, serif;
}
